    <div class="cover d-flex align-items-center h-75 bg-opaque" id="cover" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="display-2">help us to make children back to their parents.</h1>
          <h5></h5>
          <a  mat-raised-button (click)="openRegisterForm()" class=" m-4" color="primary" >Register</a>
        </div>
      </div>
    </div>
  </div>


<div class="container" fxLayout="column" >
      
        <div fxFlex class="py-5 section" id="about">
          <h1 class="mb-4">About the website</h1>
          <p class="lead">Every day, we see posts in social media about disappearing of a child. now,while you are reading,there is a child doesn't return his home because he is abducted.help us to gether abducted children with their parents.
            <br>
            <br>put information about child you found or you suspend about.</p>
          <a mat-raised-button (click)="openRegisterForm()" class=" m-3" color="primary" >Register</a>
        </div>
        

     
        <div fxFlex class="section bg-light" >
    <div class="container-fluid ">
        <mat-grid-list cols="1"  rowHeight="520px">
        <mat-grid-tile>
      <div class="row" id="venue">
        <div class="col-md-2">
            <h1 class="mb-4">&nbsp;Founders</h1>
            <p class="lead"><a href="/">
          <img mat-list-avatar src="https://pingendo.com/assets/photos/user_placeholder.png" class="rounded-circle img-fluid mx-auto d-block"> 
              <h3 class="text-info mb-4">AM</h3>
                <p class="text-info mb-4">web developer</p> </a></p></div>

        
            </div></mat-grid-tile></mat-grid-list></div></div>

</div>
 