@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}
a {
    text-decoration: none !important;
}
.cover {
    @include zero-margin(110px,30px);
    background-size: 100% 100%;
    color:floralwhite;
    min-height: 200px;
    background-image: linear-gradient(rgba(0,0,0, .7), 
                     rgba(0,0,0, .7)),
                     url(/assets/images/child.jpg);
    
    
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }

  .btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b; }
  .btn-info:focus, .btn-info.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(23, 162, 184, 0.5); }

  .btn-info.disabled, .btn-info:disabled {
    background-color: #17a2b8;
    border-color: #17a2b8; }

  .btn-info:active, .btn-info.active,
  .show > .btn-info.dropdown-toggle {
    background-color: #138496;
    background-image: none;
    border-color: #117a8b;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0px; }
.m-3 {
  margin: 1.5rem !important;background-color:black; }
.m-4{background-color:#17a2b8;}
