  <div class="cover d-flex align-items-center h-75 bg-opaque" id="cover" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="display-2">help us to make children back to their parents.</h1>
          <h5></h5>
          <a  mat-raised-button (click)="openRegisterForm()" class=" m-4" color="primary" >Register</a>
        </div>
      </div>
    </div>
  </div>
 
    <div class="container" fxLayout="column"   >
      
        <div fxFlex class="py-5 section" id="about">
          <h1 class="mb-4">About the website</h1>
          <p class="lead">Every day, we see posts in social media about disappearing of a child. now,while you are reading,there is a child doesn't return his home because he is abducted.help us to gether abducted children with their parents.
            <br>
            <br>put information about child you found or you suspend about.</p>
          <a mat-raised-button (click)="openRegisterForm()" class=" m-3" color="primary" >Register</a>
        </div>
        

     
        <div fxFlex class="section bg-light" >
    <div class="container-fluid ">
        <mat-grid-list cols="1"  rowHeight="520px">
        <mat-grid-tile>
      <div class="row" id="venue">
        <div class="col-md-2">
            <h1 class="mb-4">&nbsp;Founders</h1>
            <p class="lead"><a href="/">
          <img mat-list-avatar src="https://pingendo.com/assets/photos/user_placeholder.png" class="rounded-circle img-fluid mx-auto d-block"> 
              <h3 class="text-info mb-4">AM</h3>
                <p class="text-info mb-4">web developer</p> </a></p></div>

        
            </div></mat-grid-tile></mat-grid-list></div></div>

      
        
  <div fxFlex class="py-5 section bg-info" id="register" >
    
          <h1 class="text-white mb-4">Registrations</h1>
          <p class="mb-4">you have information,register to help us.
            <br>for parents please, try to provide us with new picture of your son ,blood type,special marks in his/her body.</p>
          <a mat-raised-button class="btn-lg btn-info" href="#cover" contenteditable="true">Register now</a>
    
                    
   
           </div>
        

   
        <div  *ngIf="misses" class="section bg-light" fxLayout="column">
                 <div  class="container-fluid "> 
 <h1 style="font-size: 50px;color: red" >&nbsp;Missing during the last hours!!</h1> 
        
    </div>
    <div class="container-fluid ">
        <mat-grid-list cols="4" rowHeight="400">
        <mat-grid-tile  *ngFor="let miss of (misses | slice:misses.length - 4)" [routerLink]="['/missd', miss.id]" appHighlight>

           
            <p class="lead">
                <a >
          <img  height="250"  src="{{BaseURL + miss.image}}" class="img-rounded"  > 
              <h3 class="text-info mb-4" md-line>{{miss.name}}</h3>
                 </a></p></mat-grid-tile></mat-grid-list></div></div>
         <div [hidden]="misses || errMess">
    <mat-progress-spinner></mat-progress-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>
 
 
        




